fastapi
uvicorn
playwright
PyJWT
databases[asyncpg]
sqlalchemy
bcrypt
psycopg2-binary
python-dotenv
jinja2
python-multipart
httpx
mkdocs
mkdocs-material
boto3
mkdocs-mermaid2-plugin
pymdown-extensions